<DOCTYPE html>
<HTML>
<style type="text/css">
.xxx{float:left; clear:left; margin-top: 100px}
</style>
<H1><DIV>
Layout L1<br>
</DIV></H1>
<DIV>
<%= yield %>
</DIV>
<DIV class="xxx">
<%= yield %>
</DIV>
</HTML>